---
import Header from '../components/Header.astro'
import Modal from '../components/Modal.astro'

const GENPATH = import.meta.env.BASE_URL;
const title = 'SIRDEC';
---
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <title>{title}</title>
  <Header />	
</head>
<body>
<article class="h-dvh bg-cover bg-center" style=`background-image: url(${GENPATH}/img/bg_inicio.png)`>
  <div class="container columns-1 mx-auto flex justify-center items-center content-center w-full h-full">
    <img src=`${GENPATH}/img/intro.png` class="max-w-80" alt="">
    <div class="mt-10">
      <div class="columns-1 text-balance text-white ms-5 ps-14 border-l">
        <h1 class="text-7xl mt-2 mb-7">Titulo</h1>
        <p class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias saepe officiis ea exercitationem consectetur! Neque sed quos illum id numquam architecto! Harum, vero omnis a corporis quibusdam repellat sed quisquam!
          Placeat quidem consectetur accusantium corrupti, iusto eligendi maxime deserunt vel voluptates, veritatis alias provident minima, nihil dolore impedit! Aliquid rem, cupiditate quas harum labore doloribus veniam vel provident eaque iste.
        </p>
        <p class="mb-10">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias saepe officiis ea exercitationem consectetur! Neque sed quos illum id numquam architecto! Harum, vero omnis a corporis quibusdam repellat sed quisquam!
          Placeat quidem consectetur accusantium corrupti, iusto eligendi maxime deserunt vel voluptates, veritatis alias provident minima, nihil dolore impedit! Aliquid rem, cupiditate quas harum labore doloribus veniam vel provident eaque iste.
        </p>
      </div>
      <div class="w-full flex justify-end mt-7">
        <Modal id="instrucciones" open="Instrucciones">
          <button class="text-4xl font-light block hover:font-bold" slot="close">X</button>
          <main slot="main">
            <div class="container mb-9 px-8 grid grid-cols-2 gap-5 text-pretty ">
              <h1 class="text-8xl font-bold">Instrucciones</h1>
              <p class="border-l border-black py-3 px-5 flex items-center">Sigue estas instrucciones y podrás aprovechar al máximo la funcionalidad de los botones interactivos para mejorar tu experiencia de navegación y uso de la aplicación </p>
            </div>
            <div class="container px-8 grid grid-cols-3 gap-5 text-pretty">
              <div class="flex gap-5">
                <img src=`${GENPATH}/img/ver.png` class="border rounded-lg border-black p-7 w-28 h-28" alt="">
                <div class="flex items-center content-center flex-wrap">
                  <h5 class="font-bold text-2xl">Lorem</h5>
                  <p>Haz clic en el botón con el ícono de un ojo para abrir el campo de información</p>
                </div>
              </div>
              <div class="flex gap-5">
                <img src=`${GENPATH}/img/cerrar.png` class="border rounded-lg border-black p-7 w-28 h-28" alt="">
                <div class="flex items-center content-center flex-wrap">
                  <h5 class="font-bold text-2xl">Cerrar</h5>
                  <p>Al hacer clic en este botón, se cerrará el elemento activo y volverás al contexto anterior.</p>
                </div>
              </div>
              <div class="flex gap-5">
                <img src=`${GENPATH}/img/inicio.png` class="border rounded-lg border-black p-7 w-28 h-28" alt="">
                <div class="flex items-center content-center flex-wrap">
                  <h5 class="font-bold text-2xl">Inicio</h5>
                  <p>Al hacer clic en este botón, serás redirigido a la página principal </p>
                </div>
              </div>
              <div class="flex gap-5">
                <img src=`${GENPATH}/img/expandir.png` class="border rounded-lg border-black p-7 w-28 h-28" alt="">
                <div class="flex items-center content-center flex-wrap">
                  <h5 class="font-bold text-2xl">Expandir</h5>
                  <p>Haz clic en este botón para ampliar o desplegar el contenido asociado.</p>
                </div>
              </div>
              <div class="flex gap-5">
                <img src=`${GENPATH}/img/desplegar.png` class="border rounded-lg border-black p-7 w-28 h-28" alt="">
                <div class="flex items-center content-center flex-wrap">
                  <h5 class="font-bold text-2xl">Desplegar</h5>
                  <p>Haz clic en el botón o casilla de selección para  ir al campo de información</p>
                </div>
              </div>
            </div>
          </main>
        </Modal>
        <a href=`${GENPATH}/intro` class="border text-white hover:border-[#FFDA71] hover:bg-[#FFDA71] hover:text-black mr-3 py-1 px-3 rounded-3xl flex justify-center transition-all delay-[0.25s] ease-out" target="_self" rel="noopener noreferrer">Comenzar 
          <lord-icon class="ms-2"
              src="https://cdn.lordicon.com/vduvxizq.json"
              trigger="loop"
              delay="2000"
              colors="primary:#000000"
              style="width:25px;height:25px">
          </lord-icon>
        </a>
      </div>
    </div>
  </div>
</article>
<script src="https://cdn.lordicon.com/lordicon.js"></script>
</body>
</html>