---
import Modal from '../components/Modal.astro'

const GENPATH = import.meta.env.BASE_URL;
---
<div class="grid grid-cols-2 mb-3">
  <div class="grid grid-cols-3 gap-2 items-center">
      <!-- <h5 class="font-bold text-l">Módulo de Cadáver</h5>
      <div class="border-l border-black px-4 py-2">
        <p class="mb-1"><span class="color bg-[#FFD671]"></span> MC-Recepción del Cadáver</p>
        <p><span class="color bg-[#47C0A8]"></span> MC-Entrega de cadáveres</p>
      </div>
      <div class="px-4 py-2">
        <p class="mb-1"><span class="color bg-[#579AE1]"></span> MC-Recepción del Cadáver</p>
        <p><span class="color bg-[#CCC5B8]"></span> MC-Entrega de cadáveres</p>
      </div> -->
  </div>
  <div class="flex justify-end content-center items-center">
    <!-- <div class="flex mr-6">
      <img src=`${GENPATH}/img/ver.png` class="w-5 h-5 mr-3" alt="">
      <h5 class="font-bold text-l">Lorem</h5>
    </div>
    <div class="flex mr-6">
      <img src=`${GENPATH}/img/expandir.png` class="w-5 h-5 mr-3" alt="">
      <h5 class="font-bold text-l">Dar Clic</h5>
    </div> -->
    <div class="flex mr-6">
      <img src=`${GENPATH}/img/inicio.png` class="w-5 h-5 mr-3" alt="">
      <h5 class="font-bold text-l">Inicio</h5>
    </div>
    <div class="ocultar">
      <Modal id="fullScreen" open="Importante" color="#47C0A8" bck="#579EE5">
          <button class="text-4xl font-light block hover:font-bold z-10" slot="close">X</button>
          <main slot="main">
            <div class="flex">
              <div class="w-1/3">
                <img src=`${GENPATH}/img/bck-full.png` class="w-full" alt="">
              </div>
              <div class="w-2/3 px-40 flex flex-col justify-center">
                <p class="text-2xl font-semibold mb-6 mt-16 text-[#579EE5]">El certificado de defunción contiene los datos básicos del fallecido y datos claves de la muerte como:</p>
                <p class="text-xl mb-6">Sitio, Identificación de la persona fallecida (nombres y documento de identidad), datos sociodemográficos: edad, sexo y pertenencia étnica del fallecido. Datos de geografía de residencia de la persona fallecida y ocurrencia de los hechos; datos específicos para muertes fetales y de mujeres en edad fértil, causas de muerte, así como los datos del certificador.</p>
                <p class="text-xl mb-6">Todos estos provienen de los diferentes sub módulos del módulo cadáveres de  del SIRDEC como se detalla a continuación.</p>
              </div>
            </div>
          </main>
        </Modal>
    </div>
    <div>
      <Modal id="instrucciones" open="Instrucciones" color="#47C0A8" bck="#FFD671">
          <button class="text-4xl font-light block hover:font-bold" slot="close">X</button>
          <main slot="main">
            <div class="container mb-9 px-8 grid grid-cols-2 gap-5 text-pretty ">
              <h1 class="text-8xl font-bold">Instrucciones</h1>
              <p class="border-l border-black py-3 px-5 flex items-center">Sigue estas instrucciones y podrás aprovechar al máximo la funcionalidad de los botones interactivos para mejorar tu experiencia de navegación y uso de la aplicación </p>
            </div>
            <div class="container px-8 grid grid-cols-3 gap-5 text-pretty">
              <!-- <div class="flex gap-5">
                <img src=`${GENPATH}/img/ver.png` class="border rounded-lg border-black p-7 w-28 h-28" alt="">
                <div class="flex items-center content-center flex-wrap">
                  <h5 class="font-bold text-2xl">Lorem</h5>
                  <p>Haz clic en el botón con el ícono de un ojo para abrir el campo de información</p>
                </div>
              </div> -->
              <div class="flex gap-5">
                <img src=`${GENPATH}/img/cerrar.png` class="border rounded-lg border-black p-7 w-28 h-28" alt="">
                <div class="flex items-center content-center flex-wrap">
                  <h5 class="font-bold text-2xl">Cerrar</h5>
                  <p>Al hacer clic en este botón, se cerrará el elemento activo y volverás al contexto anterior.</p>
                </div>
              </div>
              <div class="flex gap-5">
                <img src=`${GENPATH}/img/inicio.png` class="border rounded-lg border-black p-7 w-28 h-28" alt="">
                <div class="flex items-center content-center flex-wrap">
                  <h5 class="font-bold text-2xl">Inicio</h5>
                  <p>Al hacer clic en este botón, serás redirigido a la página principal </p>
                </div>
              </div>
              <div class="flex gap-5">
                <img src=`${GENPATH}/img/expandir.png` class="border rounded-lg border-black p-7 w-28 h-28" alt="">
                <div class="flex items-center content-center flex-wrap">
                  <h5 class="font-bold text-2xl">Expandir</h5>
                  <p>Haz clic en este botón para ampliar o desplegar el contenido asociado.</p>
                </div>
              </div>
              <div class="flex gap-5">
                <img src=`${GENPATH}/img/desplegar.png` class="border rounded-lg border-black p-7 w-28 h-28" alt="">
                <div class="flex items-center content-center flex-wrap">
                  <h5 class="font-bold text-2xl">Desplegar</h5>
                  <p>Haz clic en el botón o casilla de selección para  ir al campo de información</p>
                </div>
              </div>
            </div>
          </main>
        </Modal>
    </div>
  </div>
</div>

<style>
  .color {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    display: inline-block;
  }
  .ocultar > button {
    display: none;
  }
</style>